{
  "plugins": [
    "transform-class-properties",
    "transform-flow-strip-types"
  ],
  "presets": [
    ["env", {
      "modules": false,
      "targets": {
        "browsers": ["last 2 versions"]
      }
    }],
    ["stage-2"],
  ],
  "env": {
    "test": {
      "plugins": [
        "transform-class-properties",
        ["transform-runtime", {
            "regenerator": true
        }]
      ],
      "presets": [
        ["es2015"]
      ]
    }
  }
}
